extend layout

block content
  form(action='/catalog/create', method='post')
    div 
      label(for='title') Title: 
      input(type='text' name='title')
    br
    div
      label(for='year') Year:
      input(type='text' name='year')
    br
    div
      label(for='journal') Journal:
      input(type='text' name='journal')
    br
    div
      label(for='publisher') Publisher:
      input(type='text' name='publisher')
    br
    div
      label(for='city') City:
      input(type='text' name='city')
    br
    div
      select(name='type')
        option(value='article') Article
        option(value='book') Book
        option(value='webpage') Webpage
    div
      label(for='Author') Author:
      input(type='text' name='author' id='auth1')
    button(type='submit' formmethod='post') Add Author
