doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.topnav
      a(href='/catalog') Home
      a(href='/catalog/create') Create reference
      a(href='/catalog/build') Build page

    div.main
        block content
