body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* The topbar menu */
.topnav {
    background-color: black;
    overflow: hidden; 
}

.topnav a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    color: white;
}

.topnav a:hover{
    color: yellow;
}

.main {
    margin: 20px;
    padding: 0px 10px;
}

#references { 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#references th, #references td, {
    border: 1px solid black;
    padding: 8px;
}

#references tr:nth-child(even){ background-color: #f2f2f2;}

#references tr:hover {background-color: #ddd;}

#references th {
    padding-left: 5px;
    text-align: left; 
    border-radius: 25px;
    background-color: #4B4B4B;
    color: white;
}

#references td {
    padding-left: 5px;
}

a:link, a:visited {
    color: white;
}



















